.banner {
  display: flex;
  gap: 16px;
  padding-block-end: 18px;
  margin-block-end: 24px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  scroll-snap-stop: always;
  overscroll-behavior-x: contain;
}

.banner::-webkit-scrollbar { height: 6px; }

.banner::-webkit-scrollbar-track {
  background-color: var(--surface-variant);
  border-radius: var(--radius-full);
}

.banner::-webkit-scrollbar-thumb {
  background-color: var(--on-surface-variant);
  border-radius: var(--radius-full);
}

.banner::-webkit-scrollbar-button { width: calc(25% - 28px); }

.banner-card {
  --gradient-direction: 180deg;
  --primary-hsl: 178, 89%, 70%;
  --secondary-hsl: 32, 100%, 85%;
  --tertiary-hsl: 3, 100%, 92%;

  position: relative;
  height: 360px;
  min-width: 100%;
  border-radius: var(--radius-extra-large);
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-margin-inline: 16px;
  z-index: 1;
}

[data-theme="dark"] .banner-card {
  --primary-hsl: 178, 100%, 16%;
  --secondary-hsl: 38, 100%, 20%;
  --tertiary-hsl: 356, 66%, 32%;
}

.banner-card.primary {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}

.banner-card.secondary {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

.banner-card.tertiary {
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
}

.banner-card .card-content {
  --gradient-hsl: var(--primary-hsl);
  height: 100%;
  width: 100%;
  display: grid;
  align-content: flex-end;
  gap: 12px;
  padding: 24px;
  background-image: linear-gradient(
    var(--gradient-direction), 
    hsla(var(--gradient-hsl), 0) 0%,
    hsla(var(--gradient-hsl), 0.36) 24%,
    hsla(var(--gradient-hsl), 0.64) 48%,
    hsla(var(--gradient-hsl), 1) 68%);
}

.banner-card.secondary .card-content { --gradient-hsl: var(--secondary-hsl); }

.banner-card.tertiary .card-content { --gradient-hsl: var(--tertiary-hsl); }

.banner-card .card-title { width: 16ch; }

.banner-card .card-text { display: none; }

.banner-card .card-grid {
  position: absolute;
  top: -16px;
  left: -16px;
  right: -16px;
  bottom: 28%;
  display: grid;
  gap: 12px;
  grid-template-areas: 
  'b1 b1 b2 b2 b3 b3 b3 b3'
  'b1 b1 b2 b2 b3 b3 b3 b3'
  'b4 b4 b2 b2 b3 b3 b3 b3'
  'b4 b4 b5 b5 b5 b6 b6 b6'
  'b4 b4 b5 b5 b5 b6 b6 b6';
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  z-index: -1;
}

.banner-card .card-banner {
  border-radius: var(--radius-large);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.banner-card .card-banner .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.05;
}

.banner-card.primary .card-banner {
  background-color: var(--on-primary-container);
  box-shadow: 0 2px 2px -1px #00201f;
}

.banner-card.secondary .card-banner {
  background-color: var(--on-secondary-container);
  box-shadow: 0 2px 2px -1px #2a1800;
}

.banner-card.tertiary .card-banner {
  background-color: var(--on-tertiary-container);
  box-shadow: 0 2px 2px -1px #410006;
}

.section h1 { margin-block-end: 10px; }



/**
  * OVERLAY BTN
  */

section .overlay-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(to top, var(--background) 30%, transparent 100%);
  background-size: cover;
  display: grid;
  place-items: center;
  z-index: 2;
}



/**
  * MEDIA QUERIES
  */

@media (min-width: 600px) {

  /**
    * BANNER
    */

  .banner-card { --gradient-direction: 270deg; }

  .banner-card .card-content { align-content: center; }

  .banner-card .card-grid {
    left: 32%;
    bottom: -16px;
  }

}


@media (min-width: 900px) {

  /**
    * BANNER
    */

  .banner-card .card-content { padding: 32px; }

  .banner-card .card-text {
    display: block;
    max-width: 40%;
  }

}


@media (min-width: 1240px) {

  /**
    * BANNER
    */

  .banner-card { height: 420px; }

  .banner-card .card-content { padding: 48px; }

}


@media (min-width: 1400px) {

  /**
    * BANNER
    */

  .banner-card { height: 560px; }

  .banner-card .card-content { padding: 84px; }

}