.search-view {
  background-color: var(--surface-container-high);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 5;
  overflow-y: auto;
  opacity: 0;
  margin-inline: auto;
  visibility: hidden;
  transition: var(--motion-duration-short-2) var(--motion-easing-standard);
  transition-property: opacity, visibility;
}

.search-view.active {
  opacity: 1;
  visibility: visible;
}

.search-view .search-bar {
  display: flex;
  align-items: center;
  padding-inline: 8px;
  border-block-end: 1px solid var(--outline);
}

.search-bar .input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar .btn {
  min-width: 45px;
  width: 45px;
  height: 45px;
}

.search-bar .input-wrapper .input-icon { display: none; }

.search-bar .input-wrapper .input-field {
  line-height: 4;
  flex-grow: 1;
  padding-inline: 5px 10px;
}

.search-bar .input-wrapper .input-field,
.search-bar .input-wrapper .input-field::placeholder {
  color: var(--on-surface);
}

.search-bar .input-wrapper .input-field:valid:where(.search-bar-clear) {
  opacity: 1;
  visibility: visible;
}

.search-bar .search-bar-actions {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-inline-start: auto;
}

.search-view-content hr {
  border-width: 0;
  height: 1px;
  width: 90%;
  margin-inline: auto;
  background-color: var(--on-surface);
  opacity: 0.4;
}

.search-view-list { padding-block: 10px; }

.search-view-list .list-item {
  transition: var(--motion-duration-short-2) var(--motion-easing-standard);
}

.search-view-list .list-item:hover:not(:active) { background-color: var(--surface-container); }

.search-view-list .list-link {
  display: flex;
  gap: 12px;
  padding-block: 14px;
  padding-inline-start: 14px;
}

.search-view-list .list-link .link-icon { flex-shrink: 0; }

.search-view-list .list-link .span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-wrap: break-word;
  overflow: hidden;
}



/**
  * MEDIAS QUERIES
  */

@media (min-width: 900px) {
  .search-view {
    all: unset;
    position: relative;
    z-index: 10;
    align-self: flex-start;
    margin-block-start: 8px;
    max-width: 560px;
    width: 100%;
    background-color: var(--surface-container-high);
    border-radius: var(--radius-extra-large);
    overflow: hidden;
  }

  .search-view .search-bar-close { display: none; }

  .search-bar .input-wrapper .input-icon {
    display: grid;
    place-items: center;
    padding-inline-start: 5px;
  }

  .search-bar .input-wrapper .input-field { line-height: 3; }

  .search-view:not(:focus-within) .search-bar {
    border: none;
  }

  .search-view:not(:focus-within) :where(.search-bar-search, .search-view-content) { display: none; }

}


@media (min-width: 1240px) {
  .sidebar .sidebar-toggler { display: none; }

  .sidebar .logo { padding-inline: 20px; }

}
